{% extends "basic_App/base.html" %}
{% load static %}
{% block body_block %}
<div class="jumbotron">
    {% if registered %}
        <h1>Thankyou</h1>
    {% else %}    
        <h1>Plz register</h1>
        <h2>Fill out form</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="" value="Register">
            
        </form>
    {% endif %}    
</div>
{% endblock %}